package:
  name: local-artifact-mirror
  version: ${VERSION}
  epoch: 0
  description: Local Artifact Mirror
  copyright:
    - license: Apache-2.0

environment:
  contents:
    repositories:
      - https://packages.wolfi.dev/os
    keyring:
      - https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
    packages:
      - busybox
      - git
      - go
  environment:
    GOMODCACHE: /var/cache/melange

pipeline:
  - runs: |
      set -exuo pipefail

      rm -f pkg/goods/bins/local-artifact-mirror
      mkdir -p ${{targets.destdir}}/usr/local/bin

      make pkg/goods/bins/local-artifact-mirror
      cp pkg/goods/bins/local-artifact-mirror ${{targets.destdir}}/usr/local/bin/local-artifact-mirror
  - uses: strip
