apiVersion: apps/v1
kind: Deployment
metadata:
{{- with (include "embedded-cluster-operator.labels" $ | fromYaml) }}
  labels: {{- toYaml . | nindent 4 }}
{{- end }}
  name: {{ (include "embedded-cluster-operator.fullname" $) | trunc 63 | trimAll "-" }}
spec:
  replicas: 1
  selector:
    matchLabels: {{- include "embedded-cluster-operator.selectorLabels" $ | nindent 6 }}
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
    {{- with (include "embedded-cluster-operator.labels" $ | fromYaml) }}
      labels: {{- toYaml . | nindent 8 }}
    {{- end }}
    spec:
    {{- with .Values.affinity }}
      affinity:
          {{- toYaml . | nindent 8 }}
    {{- end }}
      containers:
      - args:
        - --health-probe-bind-address=:8081
        - --metrics-bind-address=127.0.0.1:8080
        - --leader-elect
        command:
        - /manager
        image: {{ printf "%s:%s" .Values.image.repository .Values.image.tag | quote }}
        env:
        {{- with .Values.extraEnv }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        - name: EMBEDDEDCLUSTER_VERSION
          value: "{{ .Values.embeddedClusterVersion }}"
        - name: EMBEDDEDCLUSTER_UTILS_IMAGE
          value: {{ .Values.utilsImage }}
        - name: EMBEDDEDCLUSTER_IMAGE
          value: {{ printf "%s:%s" .Values.image.repository .Values.image.tag | quote }}
        name: manager
{{- if .Values.livenessProbe }}
        livenessProbe:
{{ toYaml .Values.livenessProbe | indent 10 }}
{{- end }}
{{- if .Values.readinessProbe }}
        readinessProbe:
{{ toYaml .Values.readinessProbe | indent 10 }}
{{- end }}
        {{- if .Values.extraVolumeMounts }}
        volumeMounts:
        {{- toYaml .Values.extraVolumeMounts | nindent 8 }}
        {{- end }}
{{- if .Values.resources }}
        resources:
{{ toYaml .Values.resources | indent 10 }}
{{- end }}
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
      securityContext:
        runAsNonRoot: true
      serviceAccountName: {{ include "embedded-cluster-operator.serviceAccountName" $ | trunc 63 | trimAll "-"}}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      {{- if .Values.extraVolumes }}
      volumes:
      {{- toYaml .Values.extraVolumes | nindent 6 }}
      {{- end }}
