apiVersion: v2
name: embedded-cluster-operator
description: Embedded Cluster Operator
type: application
version: ${CHART_VERSION}
dependencies:
  - name: crds
    version: "0.0.0"
    condition: crds.enabled
