# DEVELOPMENT USE ONLY! THIE FILE IS NOT USED FOR DEPLOYS!
global:
  labels: {}

embeddedClusterVersion: v0.0.0
embeddedClusterK0sVersion: v0.0.0
embeddedClusterID: 123456789
isAirgap: false

image:
  repository: replicated/embedded-cluster-operator-image-staging
  tag: 0.0.8
  pullPolicy: IfNotPresent

utilsImage: busybox:latest
goldpingerImage: bloomberg/goldpinger:latest

extraEnv: []
#  - name: HTTP_PROXY
#    value: http://proxy.example.com

resources:
  requests:
    cpu: 10m
    memory: 64Mi

readinessProbe:
  httpGet:
    path: /readyz
    port: 8081
  initialDelaySeconds: 5
  periodSeconds: 10

livenessProbe:
  httpGet:
    path: /healthz
    port: 8081
  initialDelaySeconds: 15
  periodSeconds: 20

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/arch
          operator: In
          values:
          - amd64
          - arm64
          - ppc64le
          - s390x
        - key: kubernetes.io/os
          operator: In
          values:
          - linux
        - key: node-role.kubernetes.io/control-plane
          operator: Exists

crds:
  enabled: true

serviceAccount:
  create: true
  name: embedded-cluster-operator
  annotations: {}
  labels: {}

terminationGracePeriodSeconds: 10
