bundle
pkg/goods/bins/*
!pkg/goods/bins/.placeholder
pkg/goods/internal/bins/*
!pkg/goods/internal/bins/.placeholder
pkg/goods/images
.pre-commit-config.yaml
vendor
e2e/kots-release-install/license.yaml
/bin/
/build/
/output/
go.work
go.work.sum
.gocache
.gomodcache
