bundle
cmd/installer/goods/bins/*
!cmd/installer/goods/bins/.placeholder
cmd/installer/goods/internal/bins/*
!cmd/installer/goods/internal/bins/.placeholder
cmd/installer/goods/images
.pre-commit-config.yaml
vendor
e2e/kots-release-install/license.yaml
/bin/
/build/
/output/
go.work
go.work.sum
.gocache
.gomodcache
/dev/build/
/local-dev/
*.tmp
.envrc
.DS_Store

# Ignore preflight bundles generated during local dev
preflightbundle*

hack/release.tgz
hack/release

# Test binary, built with `go test -c`
*.test

# helm charts dependencies
*.tgz

# test coverage files
cover.out

# e2e test runs locally
e2e/playwright*.tar.gz
e2e/support-bundle*.tar.gz

# Local Netlify folder
.netlify
