# adapted from:
#   https://github.com/chainguard-images/images/blob/3cdccf0c57ee1ab83c7f02f7d2aaa1edfbf5dfcb/images/velero-plugin-for-aws/config/main.tf
#   https://github.com/chainguard-images/images/blob/3cdccf0c57ee1ab83c7f02f7d2aaa1edfbf5dfcb/images/velero-plugin-for-aws/main.tf
contents:
  repositories:
    - https://packages.wolfi.dev/os
  keyring:
    - https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
  packages:
    - velero-plugin-for-aws~${PACKAGE_VERSION}
    - velero-plugin-for-aws-compat~${PACKAGE_VERSION}

accounts:
  groups:
    - groupname: nonroot
      gid: 65532
  users:
    - username: nonroot
      uid: 65532
      gid: 65532
  run-as: 65532

entrypoint:
  command: /bin/cp-plugin /plugins/velero-plugin-for-aws /target/velero-plugin-for-aws
