# Default values for OIDC chart
replicaCount: 1

image:
  # These values can be overridden from parent chart
  registry: images.pixee.ai
  repository: proxy/pixee/218200003247.dkr.ecr.us-east-1.amazonaws.com/pixee/zitadel-oidc-service
  tag: "3.38.1-52fc585@sha256:2d0fd908e81f4e8fff4141ca2cb84271dfd5edf2f8a0fe5968edf7e56cba5343"
  pullPolicy: IfNotPresent
  # -- set `image.pullSecrets: {}` if registry authentication is not required.
  pullSecrets:
    - name: image-pull-secret

nameOverride: ""
fullnameOverride: ""

config:
  users:
    existingSecret: 
      # -- The name of an existing secret for users config.  Should contain a users.json key. 
      name: {}

podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1001
  runAsGroup: 1001
  fsGroup: 1001

securityContext:
  seLinuxOptions: {}

serviceAccount:
  # override the default service account with an existing service account
  name: ""

service:
  type: ClusterIP
  port: 9998

ingress:
  enabled: false
  annotations: {}
  paths:
    - path: /oidc
      pathType: Prefix

resources:
  limits:
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 256Mi

nodeSelector: {}
tolerations: []
affinity: {}

podAnnotations: {}