{{- /* Compute maxCoreCount from incoming CPU resource limit */}}
{{- $maxCoreCount := 2 }}
{{- $userResources := .Values.resources | default dict }}
{{- $userLimits := $userResources.limits | default dict }}
{{- $userCpuLimit := $userLimits.cpu | default "" }}
{{- if $userCpuLimit }}
  {{- $userCpuMillis := 0 }}
  {{- if hasSuffix "m" $userCpuLimit }}
    {{- $userCpuMillis = $userCpuLimit | trimSuffix "m" | int }}
  {{- else }}
    {{- $userCpuMillis = mul ($userCpuLimit | float64 | mul 1000) 1 }}
  {{- end }}
  {{- $maxCoreCount = div $userCpuMillis 1000 }}
{{- end }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "analysis.fullname" . }}
  labels:
    {{- include "analysis.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "analysis.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/pixee-enterprise-server-secrets: {{ include "pixee-enterprise-server.secretsChecksum" . | quote }}
        checksum/analysis-secrets: {{ include (print $.Template.BasePath "/secrets.yaml") . | sha256sum | quote }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "analysis.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.image.pullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "analysis.serviceAccountName" . }}
      automountServiceAccountToken: false
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          {{- if include "pixee-enterprise-server.hasSecurityContext" .Values.securityContext }}
          securityContext: {{- include "pixee-enterprise-server.renderSecurityContext" .Values.securityContext | nindent 12 }}
          {{- end }}
          image: {{ .Values.image.registry }}/{{ .Values.image.repository }}:{{ .Values.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /health
              port: http
          readinessProbe:
            httpGet:
              path: /health
              port: http
          resources:
            {{- if .Values.resources }}
            {{- toYaml .Values.resources | nindent 12 }}
            {{- else }}
            limits:
              cpu: {{ printf "%dm" (mul $maxCoreCount 1000) }}
            {{- end }}
          volumeMounts:
            - name: temp-storage
              mountPath: {{ .Values.tempStorage.mountPath }}
          env:
            # Object Store Configuration
            - name: OBJECT_STORE_URL
            {{- if not (empty (dig "pixee" "objectStore" "endpoint" "" .Values.global)) }}
              value: {{ .Values.global.pixee.objectStore.endpoint }}
            {{- else }}
              value: http://{{ .Release.Name }}-minio:9000/
            {{- end }}
            {{- if eq (.Values.global.pixee.objectStore.credentialType | default "static") "static" }}
            - name: OBJECT_STORE_ACCESS_KEY
              value: {{ .Values.global.pixee.objectStore.username }}
            - name: OBJECT_STORE_SECRET_KEY
              value: {{ .Values.global.pixee.objectStore.password }}
            {{- end }}
            - name: OBJECT_STORE_REGION
              value: {{ .Values.global.pixee.objectStore.region }}
            - name: WORKFLOW_BUCKET
              value: {{ .Values.objectStore.bucket | default "pixee-analysis-service" | quote }}
            # ai configuration
          {{- if .Values.global.pixee.ai.enabled }}
          {{- if .Values.setUseMagicForDeterministicRules }}
            {{/*If ommited analysis-service will default to true*/}}
            - name: USE_MAGIC_FOR_DETERMINISTIC_RULES
              value: "false"
          {{- end }}
          {{- if .Values.enableExploitVerification }}
            - name: EXPLOIT_VERIFICATION_ENABLED
              value: "true"
          {{- else }}
            - name: EXPLOIT_VERIFICATION_ENABLED
              value: "false"
          {{- end }}
          {{- if .Values.useTriageToShortcircuitFix }}
            - name: USE_TRIAGE_TO_SHORTCIRCUIT_FIX
              value: "true"
          {{- else }}
            - name: USE_TRIAGE_TO_SHORTCIRCUIT_FIX
              value: "false"
          {{- end }}
          {{- if .Values.useOpenhandsForCodegen }}
            - name: USE_OPENHANDS_FOR_CODEGEN
              value: "true"
          {{- else }}
            - name: USE_OPENHANDS_FOR_CODEGEN
              value: "false"
          {{- end }}
          {{- if .Values.openhandsConcurrencyLimit }}
            - name: OPENHANDS_CONCURRENCY_LIMIT
              value: {{ .Values.openhandsConcurrencyLimit | quote }}
          {{- end }}
          {{- if or .Values.global.pixee.ai.openai.existingSecret .Values.global.pixee.ai.openai.key }}
            - name: CODEMODDER_OPENAI_API_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.global.pixee.ai.openai.existingSecret | default "openai-secrets" }}
                  key: {{ .Values.global.pixee.ai.openai.secretKeys.apiKey }}
          {{- end }}
          {{- if not (empty (dig "pixee" "ai" "openai" "baseUrl" "" .Values.global)) }}
            - name: OPENAI_BASE_URL
              value: {{ .Values.global.pixee.ai.openai.baseUrl | quote }}
          {{- end }}
          {{- if .Values.global.pixee.ai.azure.enabled }}
            {{- if or .Values.global.pixee.ai.azure.existingSecret .Values.global.pixee.ai.azure.key }}
            - name: CODEMODDER_AZURE_OPENAI_API_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.global.pixee.ai.azure.existingSecret | default "azure-openai-secrets" }}
                  key: {{ .Values.global.pixee.ai.azure.secretKeys.apiKey }}
            {{- end }}
            - name: CODEMODDER_AZURE_OPENAI_ENDPOINT
              value: {{ default "" .Values.global.pixee.ai.azure.endpoint | quote }}
            - name: CODEMODDER_AZURE_OPENAI_GPT_4O_2024_05_13_DEPLOYMENT
              value: {{ dig "pixee" "ai" "azure" "deployments" "gpt-4o-2024-05-13" "gpt-4o-2024-05-13" .Values.global | quote }}
            - name: CODEMODDER_AZURE_OPENAI_O3_MINI_DEPLOYMENT
              value: {{ dig "pixee" "ai" "azure" "deployments" "o3-mini" "o3-mini" .Values.global | quote }}
            {{- if lookup "v1" "Secret" .Release.Namespace "azure-llama-key" }}
            - name: CODEMODDER_AZURE_LLAMA_API_KEY
              valueFrom:
                secretKeyRef:
                  name: azure-llama-key
                  key: value
            {{- end }}
            {{- if not (empty (dig "pixee" "ai" "azure" "llama" "endpoint" "" .Values.global)) }}
            - name: CODEMODDER_AZURE_LLAMA_ENDPOINT
              value: {{ default "" .Values.global.pixee.ai.azure.llama.endpoint | quote }}
            {{- end }}
          {{- end }}
          {{- end }}
            # Logging configuration
            - name: DEBUG
              value: {{ .Values.debug | default "false" | quote }}
            - name: CODEMODDER_DEBUG
              value: {{ .Values.debug | default "false" | quote }}
          {{- if (dig "pixee" "sentry" "enabled" true .Values.global) }}
            # Sentry integration
            - name: SENTRY_DSN
              valueFrom:
                secretKeyRef:
                  name: analysis-sentry-dsn
                  key: value
            - name: SENTRY_ENVIRONMENT
              value: {{ include "pixee-enterprise-server.environment" . }}
            - name: SENTRY_RELEASE
              value: {{ .Values.image.tag | quote }}
          {{- if not (empty (dig "pixee" "url" "" .Values.global)) }}
            - name: SENTRY_SERVER
              value: {{ .Values.global.pixee.url | quote }}
          {{- end }}
          {{- end }}
            # Temporary storage configuration
            - name: TMPDIR
              value: {{ .Values.tempStorage.mountPath | quote }}
          # set max worker count to max core count
            - name: GUNICORN_NUM_WORKERS
              value: {{ $maxCoreCount | quote }}
          {{- range $key, $value := .Values.env }}
            - name: {{ $key }}
              value: {{ $value | quote }}
          {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: temp-storage
          emptyDir:
            sizeLimit: {{ .Values.tempStorage.sizeLimit | quote }}
