{{- if (dig "pixee" "sentry" "enabled" true .Values.global) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: analysis-sentry-dsn
  annotations:
    "helm.sh/hook": "pre-install,pre-upgrade"
type: Opaque
data:
  value: aHR0cHM6Ly80ZGE0ZTBlMGZkNzdmMTBhMjdhYzNlMTM3OTY2OWE1NEBvNDUwNTMyNjIwOTA3MzE1Mi5pbmdlc3QudXMuc2VudHJ5LmlvLzQ1MDgzMzY4NTA5OTMxNTI=
{{- end }}