# adapted from:
#   https://github.com/seaweedfs/seaweedfs/blob/8b402fb4b956ac8b10db3453d8a205cda392b372/docker/Dockerfile.go_build
contents:
  repositories:
    - https://packages.wolfi.dev/os
  keyring:
    - https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
  packages:
    - wolfi-base
    - seaweedfs=${PACKAGE_VERSION}
    - fuse3 # for weed mount

accounts:
  groups:
    - groupname: nonroot
      gid: 65532
  users:
    - username: nonroot
      uid: 65532
      gid: 65532
  run-as: 65532

paths:
  - path: /data
    type: directory
    uid: 65532
    gid: 65532
    permissions: 0o755
    recursive: true
  - path: /data/filerldb2
    type: directory
    uid: 65532
    gid: 65532
    permissions: 0o755
    recursive: true

work-dir: /data

entrypoint:
  command: /usr/bin/entrypoint.sh
