engines:
  local:
    lvm:
      enabled: false
    zfs:
      enabled: false
  replicated:
    mayastor:
      enabled: false
localpv-provisioner:
  analytics:
    enabled: false
{{- if .ReplaceImages }}
  helperPod:
    image:
      registry: proxy.replicated.com/
      repository: '{{ TrimPrefix "proxy.replicated.com/" (index .Images "openebs-linux-utils").Repo }}'
      tag: '{{ index (index .Images "openebs-linux-utils").Tag .GOARCH }}'
{{- end }}
  hostpathClass:
    enabled: true
    isDefaultClass: true
  localpv:
{{- if .ReplaceImages }}
    image:
      registry: proxy.replicated.com/
      repository: '{{ TrimPrefix "proxy.replicated.com/" (index .Images "openebs-provisioner-localpv").Repo }}'
      tag: '{{ index (index .Images "openebs-provisioner-localpv").Tag .GOARCH }}'
{{- end }}
    basePath: "/var/lib/embedded-cluster/openebs-local"
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
              - key: node-role.kubernetes.io/control-plane
                operator: Exists
lvm-localpv:
  enabled: false
mayastor:
  enabled: false
{{- if .ReplaceImages }}
preUpgradeHook:
  image:
    registry: proxy.replicated.com
    repo: '{{ TrimPrefix "proxy.replicated.com/" (index .Images "kubectl").Repo }}'
    tag: '{{ index (index .Images "kubectl").Tag .GOARCH }}'
{{- end }}
zfs-localpv:
  enabled: false
alloy:
  enabled: false
loki:
  enabled: false
