apiVersion: v1
kind: Secret
metadata:
  name: {{ include "platform.name" . }}-support-bundle
  labels: {{- include "platform.labels" . | nindent 4 }}
    troubleshoot.sh/kind: support-bundle
stringData:
  support-bundle-spec: |- {{- include "troubleshoot.supportBundle.platform" . | nindent 4 }}
---
{{- define "troubleshoot.supportBundle.platform" -}}
apiVersion: troubleshoot.sh/v1beta2
kind: SupportBundle
metadata:
  name: {{ include "platform.name" . }}-support-bundle
spec:
  # Host collectors will only be collected if support bundle is run on the host machine and not the admin panel.
  hostCollectors:
    - blockDevices: {}
    - cpu: {}
    - hostOS: {}
    - hostServices: {}
    - ipv4Interfaces: {}
    - memory: {}
    - time: {}
    - ipv4Interfaces: {}
  collectors:
    {{ include "troubleshoot.collectors.platform.object-store" . | nindent 4 }}
    {{ include "troubleshoot.collectors.platform.cluster" . | nindent 4 }}
    {{ include "troubleshoot.collectors.platform.runPods.database.status" .  | nindent 4 }}
    {{ include "troubleshoot.collectors.platform.logs" . | nindent 4 }}
    {{ include "troubleshoot.collectors.platform.runPods.analysis-status" . | nindent 4 }}
    {{ include "troubleshoot.collectors.platform.runPods.analysis-findings" . | nindent 4 }}
    {{ if not (empty .Values.sonar.token) }}
    {{- include "troubleshoot.collectors.platform.sonar" . | indent 4 }}
    {{ if .Values.sonar.sonarQubeServer }}
    {{- include "troubleshoot.collectors.platform.sonarqube-server" . | indent 4 }}
    {{- end }}
    {{- end }}
  analyzers:
    {{ include "troubleshoot.analyzers.platform.cluster" . | nindent 4 }}
    {{ include "troubleshoot.analyzers.platform.logs" . | nindent 4 }}
    # Always include database analyzer as it is agnostic to embedded/external config
    {{ include "troubleshoot.analyzers.platform.database.status" .  | nindent 4 }}
    # Conditionally include embedded database analyzer as it checks for specific, expected database cluster resources
    {{ if .Values.database.embedded }}
    {{ include "troubleshoot.analyzers.platform.database.embedded" . | nindent 4 }}
    {{- end }}
    {{ if not (empty .Values.sonar.token) }}
    {{- include "troubleshoot.analyzers.platform.sonar" . | nindent 4 }}
    {{ if .Values.sonar.sonarQubeServer }}
    {{- include "troubleshoot.analyzers.platform.sonarqube-server" . | nindent 4 }}
    {{- end }}
    {{- end }}
{{- end -}}
