{{- if and (or .Values.github.appWebhookSecret .Values.github.appPrivateKey) (not .Values.github.existingSecret) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: github-app-secrets
type: Opaque
data:
  {{ .Values.github.secretKeys.appWebhookSecretKey }}: {{ .Values.github.appWebhookSecret | b64enc }}
  {{ .Values.github.secretKeys.appPrivateKeySecretKey }}: {{ .Values.github.appPrivateKey | b64enc }}
{{- end }}

{{- if (dig "pixee" "sentry" "enabled" true .Values.global) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: platform-sentry-dsn
  annotations:
    "helm.sh/hook": "pre-install,pre-upgrade"
type: Opaque
data:
  value: aHR0cHM6Ly81MWUxNmQwYWFmMDg0NjZlYWM0MTQzOTljNjdlNjFiYkBvNDUwNTMyNjIwOTA3MzE1Mi5pbmdlc3QudXMuc2VudHJ5LmlvLzQ1MDUzMjk5MDkzNjY3ODQ=
{{- end }}

{{- if .Values.global.pixee.tls }}
{{- if and .Values.global.pixee.tls.crt .Values.global.pixee.tls.key }}
---
apiVersion: v1
kind: Secret
metadata:
  name: pixee-platform-tls-uploaded
  annotations:
    "helm.sh/hook": "pre-install,pre-upgrade"
type: kubernetes.io/tls
data:
  tls.crt: {{ .Values.global.pixee.tls.crt | b64enc }}
  tls.key: {{ .Values.global.pixee.tls.key | b64enc }}
{{- end }}
{{- end }}

{{- if and .Values.database.password (not .Values.database.embedded) (not .Values.database.existingSecret) }}
# if the database is external, store the password in the same structure as the postgresql chart
---
apiVersion: v1
kind: Secret
metadata:
  name: {{.Release.Name}}-postgresql
type: Opaque
data:
  password: {{ .Values.database.password | b64enc }}
{{- end }}

{{- if and (or .Values.scm.azure.webhook.password .Values.scm.azure.token) (not .Values.scm.azure.existingSecret) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: azure-devops-secrets
type: Opaque
data:
  {{ .Values.scm.azure.secretKeys.tokenKey }}: {{ .Values.scm.azure.token | default "" | b64enc }}
  {{ .Values.scm.azure.secretKeys.webhookPasswordKey }}: {{ .Values.scm.azure.webhook.password | default "" | b64enc }}
{{- end }}

{{- if and (or .Values.scm.gitlab.webhookSecret .Values.scm.gitlab.token) (not .Values.scm.gitlab.existingSecret) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: gitlab-secrets
type: Opaque
data:
  {{ .Values.scm.gitlab.secretKeys.tokenKey }}: {{ .Values.scm.gitlab.token | default "" | b64enc }}
  {{ .Values.scm.gitlab.secretKeys.webhookSecretKey }}: {{ .Values.scm.gitlab.webhookSecret | default "" | b64enc }}
{{- end }}

{{- if and .Values.scm.bitbucket.password (not .Values.scm.bitbucket.existingSecret) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: bitbucket-secrets
type: Opaque
data:
  {{ .Values.scm.bitbucket.secretKeys.passwordKey }}: {{ .Values.scm.bitbucket.password | default "" | b64enc }}
{{- end }}

{{- if and (or .Values.sonar.webhookSecret .Values.sonar.token) (not .Values.sonar.existingSecret) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: sonar-secrets
type: Opaque
data:
  {{ .Values.sonar.secretKeys.tokenKey }}: {{ .Values.sonar.token | b64enc }}
  {{ .Values.sonar.secretKeys.webhookSecretKey }}: {{ .Values.sonar.webhookSecret | b64enc }}
{{- end }}

{{- if and (or .Values.pixeebot.appscan.webhookSecret .Values.pixeebot.appscan.apiKeySecret) (not .Values.pixeebot.appscan.existingSecret) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: appscan-secrets
type: Opaque
data:
  {{ .Values.pixeebot.appscan.secretKeys.apiKeySecretKey }}: {{ .Values.pixeebot.appscan.apiKeySecret | b64enc }}
  {{ .Values.pixeebot.appscan.secretKeys.webhookSecretKey }}: {{ .Values.pixeebot.appscan.webhookSecret | b64enc }}
{{- end }}


{{- if and .Values.blackduck.accessToken (not .Values.blackduck.existingSecret) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: blackduck-secrets
type: Opaque
data:
  {{ .Values.blackduck.secretKeys.accessTokenKey }}: {{ .Values.blackduck.accessToken | b64enc }}
{{- end }}


{{- if and .Values.veracode.apiKeySecret (not .Values.veracode.existingSecret) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: veracode-secrets
type: Opaque
data:
  {{ .Values.veracode.secretKeys.apiKeySecretKey }}: {{ .Values.veracode.apiKeySecret | b64enc }}
{{- end }}