package:
  name: ec-operator
  version: "0.0.1" # our versioning is not compatible with apk
  epoch: 0
  description: Embedded Cluster Operator
  copyright:
    - license: Apache-2.0

environment:
  contents:
    repositories:
      - https://packages.wolfi.dev/os
    keyring:
      - https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
    packages:
      - busybox
      - git
      - go
  environment:
    GOMODCACHE: /cache/melange
    VERSION: ${PACKAGE_VERSION}
    K0S_MINOR_VERSION: ${K0S_MINOR_VERSION}

pipeline:
  - runs: |
      set -exuo pipefail

      make go.mod
      make -C operator build
      cp operator/bin/manager "${{targets.contextdir}}/manager"
  - uses: strip
