{{- if and .Values.grafana.pdc.enabled (not .Values.grafana.pdc.existingSecret) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: grafana-pdc-agent
type: Opaque
data:
  {{ .Values.grafana.pdc.secretKeys.signingTokenKey }}: {{ .Values.grafana.pdc.signingToken | b64enc }}
  {{ .Values.grafana.pdc.secretKeys.hostedGrafanaIdKey }}: {{ .Values.grafana.pdc.hostedGrafanaId | b64enc }}
  {{ .Values.grafana.pdc.secretKeys.clusterKey }}: {{ .Values.grafana.pdc.cluster | b64enc }}
{{- end }}
