[Unit]
Description=Embedded Cluster Manager

[Service]
ExecStart=/var/lib/embedded-cluster/bin/manager start
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
