[Unit]
Description=Embedded Cluster Local Artifact Mirror

[Service]
ExecStart=/var/lib/embedded-cluster/bin/local-artifact-mirror serve
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
