contents:
  repositories:
    - https://packages.wolfi.dev/os
    - ./packages/ # remove
  keyring:
    - https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
    - ./melange.rsa.pub # remove
  packages:
    - ${PACKAGE_NAME}=${PACKAGE_VERSION}
    - conntrack-tools
    - ip6tables # this pulls in iptables as well
    # - cilium-iptables
    - iptables-wrappers # remove this
    - busybox # remove this

accounts:
  groups:
    - groupname: nonroot
      gid: 65532
  users:
    - username: nonroot
      uid: 65532
      gid: 65532
  # kube-proxy is responsible for many host level networking tasks and as such, needs root
  run-as: 0

paths:
  - path: /var/lib/kube-proxy
    type: directory
    uid: 65532
    gid: 65532
    permissions: 0o755
  - path: /var/log/kube-proxy
    type: directory
    uid: 65532
    gid: 65532
    permissions: 0o755
  - path: /usr/local/bin/kube-proxy # k0s expects kube-proxy to be in /usr/local/bin
    type: symlink
    uid: 65532
    gid: 65532
    permissions: 0o755
    source: /usr/bin/kube-proxy

entrypoint:
  command: /usr/bin/kube-proxy
