apiVersion: embeddedcluster.replicated.com/v1beta1
kind: Config
metadata:
  name: "testconfig"
spec:
  version: "__version_string__"
  roles:
    controller:
      labels:
        controller-label: controller-label-value
      name: controller-test
      workerProfiles:
        - controller-profile
#        - custom-eviction
    custom:
      - labels:
          abc-test-label: abc-test-label-value
          abc-test-label-two: abc-test-label-value-2
        name: abc
      - labels:
          xyz-test-label: xyz-value
        name: xyz
  unsupportedOverrides:
    k0s: |
      config:
        metadata:
          name: foo
        spec:
          telemetry:
            enabled: false
          api:
            extraArgs:
              service-node-port-range: 80-32767
  workerProfiles:
    - name: controller-profile
      values:
        allowedUnsafeSysctls:
          - fs.inotify.max_user_instances
    - name: custom-eviction
      values:
        evictionHard:
          memory.available: "500Mi"
          nodefs.available: "1Gi"
          imagefs.available: "100Gi"
        evictionMinimumReclaim:
          memory.available: "0Mi"
          nodefs.available: "500Mi"
          imagefs.available: "2Gi"
  extensions:
    helm:
      repositories:
        - name: ingress-nginx
          url: https://kubernetes.github.io/ingress-nginx
        - name: okgolove
          url: https://okgolove.github.io/helm-charts/
      charts:
        - name: ingress-nginx
          chartname: ingress-nginx/ingress-nginx
          namespace: ingress-nginx
          version: "4.8.3"
          values: |
            controller:
              service:
                type: NodePort
                nodePorts:
                  http: "80"
                  https: "443"
        - chartname: okgolove/goldpinger
          name: goldpinger
          namespace: goldpinger
          version: 6.1.2
          order: 11
