apiVersion: embeddedcluster.replicated.com/v1beta1
kind: Config
metadata:
  name: "testconfig"
spec:
  version: "__version_string__"
  binaryOverrideUrl: "__release_url__"
  metadataOverrideUrl: "__metadata_url__"
  domains:
    proxyRegistryDomain: "ec-e2e-proxy.testcluster.net"
    replicatedAppDomain: "ec-e2e-replicated-app.testcluster.net"
  roles:
    controller:
      labels:
        controller-label: controller-label-value
      name: controller-test
    custom:
      - labels:
          abc-test-label: abc-test-label-value
          abc-test-label-two: abc-test-label-value-2
        name: abc
      - labels:
          xyz-test-label: xyz-value
        name: xyz
  unsupportedOverrides:
    builtInExtensions:
      - name: admin-console
        values: |
          labels:
            release-custom-label: release-clustom-value
      - name: embedded-cluster-operator
        values: |
          global:
            labels:
              release-custom-label: release-clustom-value
    k0s: |
      config:
        metadata:
          name: foo
        spec:
          telemetry:
            enabled: false
          workerProfiles:
          - name: ip-forward
            values:
              allowedUnsafeSysctls:
              - net.ipv4.ip_forward
  extensions:
    velero:
      plugins:
        - name: velero-plugin-postgresql
          image: ghcr.io/banjoh/velero-plugin-cnpg-restore:latest
          imagePullPolicy: Always
    helm:
      charts:
        - name: ingress-nginx
          chartname: oci://ec-e2e-proxy.testcluster.net/anonymous/public.ecr.aws/q7i7m9q2/embedded-cluster-charts/ingress-nginx
          namespace: ingress-nginx
          version: "4.11.3"
          values: |
            global:
              image:
                registry: ec-e2e-proxy.testcluster.net/anonymous/registry.k8s.io
            controller:
              service:
                type: NodePort
                nodePorts:
                  http: "80"
                  https: "443"
              image:
                registry: ec-e2e-proxy.testcluster.net/anonymous/registry.k8s.io
                digest: ""
                digestChroot: ""
              admissionWebhooks:
                patch:
                  image:
                    registry: ec-e2e-proxy.testcluster.net/anonymous/registry.k8s.io
                    digest: ""
        - name: goldpinger
          chartname: oci://ec-e2e-proxy.testcluster.net/anonymous/public.ecr.aws/q7i7m9q2/embedded-cluster-charts/goldpinger
          namespace: goldpinger
          version: 6.1.2
          order: 11
          values: |
            image:
              repository: ec-e2e-proxy.testcluster.net/anonymous/bloomberg/goldpinger
