# Default values for redis-app
global:
  labels: {}

# Preflight checks configuration
preflight:
  enabled: false

# Server (Redis) configuration
server:
  replicaCount: 1
  image:
    repository: redis
    pullPolicy: IfNotPresent
    tag: "7.2"
  service:
    type: ClusterIP
    port: 6379
  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 128Mi
  imagePullSecrets: []
    # - name: server-regcred

# Client configuration
client:
  enabled: true
  replicaCount: 1
  image:
    repository: redis
    pullPolicy: IfNotPresent
    tag: "7.2"
  intervalSeconds: 30 # Make a request every 30 seconds
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 50m
      memory: 64Mi
  imagePullSecrets: []
    # - name: client-regcred

# Common configuration
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

nodeSelector: {}

tolerations: []

affinity: {}
