# source: https://github.com/chainguard-images/images/blob/4317e36114e989a8dcf744c4685cd60eb8582447/images/metrics-server/config/main.tf
contents:
  repositories:
    - https://packages.wolfi.dev/os
  keyring:
    - https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
  packages:
    - metrics-server=${VERSION}

accounts:
  groups:
    - groupname: nonroot
      gid: 65532
  users:
    - username: nonroot
      uid: 65532
      gid: 65532
  run-as: 65532

paths:
  - path: /tmp
    type: directory
    uid: 65532
    gid: 65532
    permissions: 0o755
    recursive: true

entrypoint:
  command: metrics-server --cert-dir=/tmp
