apiVersion: v1
kind: Secret
metadata:
  name: {{ include "analysis.name" . }}-support-bundle
  labels: {{- include "analysis.labels" . | nindent 4 }}
    troubleshoot.sh/kind: support-bundle
stringData:
  support-bundle-spec: |- {{- include "troubleshoot.supportBundle.analysis" . | nindent 4 }}
---
{{- define "troubleshoot.supportBundle.analysis" -}}
apiVersion: troubleshoot.sh/v1beta2
kind: SupportBundle
metadata:
  name: {{ include "analysis.name" . }}-support-bundle
spec:
  collectors:
    {{ include "troubleshoot.collectors.analysis.cluster" . | nindent 4 }}
    {{ include "troubleshoot.collectors.analysis.logs" . | nindent 4 }}
  analyzers:
   {{ include "troubleshoot.analyzers.analysis.cluster" . | nindent 4 }}
   {{ include "troubleshoot.analyzers.analysis.logs" . | nindent 4 }}
{{- end -}}
