replicaCount: 1

image:
  registry: images.pixee.ai
  repository: proxy/pixee/218200003247.dkr.ecr.us-east-1.amazonaws.com/pixee/pixee-user-platform
  pullSecrets:
    - name: image-pull-secret
  pullPolicy: IfNotPresent
  tag: "0.0.286@sha256:3db48a4e19787ebf9e85051390ef85dd8ce62f8e7d8a66c14abb17de85768722"

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # override the default service account with an existing service account
  name: ""

podAnnotations: {}

podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1001
  runAsGroup: 1001
  fsGroup: 1001

securityContext:
  seLinuxOptions: {}

service:
  type: ClusterIP
  port: 3000

ingress:
  enabled: false

resources:
  limits:
    cpu: 1000m
    memory: 1Gi
  requests:
    cpu: 100m
    memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}
