name: distros

on:
  push:
    paths:
      - 'dev/distros/**'
    branches:
      - main
  workflow_dispatch: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  list-distros:
    runs-on: ubuntu-latest
    outputs:
      distros: ${{ steps.list-distros.outputs.distros }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: List distros
        id: list-distros
        run: |
          cd dev/distros
          distros=$(make list | jq -Rsc 'split("\n") | map(select(length > 0))')
          echo "distros=$distros" >> $GITHUB_OUTPUT

  build-and-push:
    runs-on: ubuntu-latest
    needs: list-distros
    strategy:
      fail-fast: false
      matrix:
        distro: ${{ fromJson(needs.list-distros.outputs.distros) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          # see https://github.com/tonistiigi/binfmt/issues/215
          image: tonistiigi/binfmt:qemu-v7.0.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            replicated/ec-distro:${{ matrix.distro }}
          platforms: linux/amd64,linux/arm64
          file: dev/distros/dockerfiles/${{ matrix.distro }}.Dockerfile
          context: dev/distros
