name: Update Addons
on:
  - pull_request
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Compile buildtools
        run: |
          make buildtools
      - name: Upload buildtools artifact
        uses: actions/upload-artifact@v3
        with:
          name: buildtools
          path: output/bin/buildtools
  update-dependencies:
    runs-on: ubuntu-latest
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        addon:
          - openebs
          - registry
          - seaweedfs
          - velero
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Download buildtools artifact
        uses: actions/download-artifact@v3
        with:
          name: buildtools
          path: ./output/artifacts
      - name: Update ${{ matrix.addon }}
        id: update
        env:
          REGISTRY_SERVER: registry.replicated.com
          REGISTRY_USER: ${{ secrets.REGISTRY_USERNAME_PRODUCTION }}
          REGISTRY_PASS: ${{ secrets.REGISTRY_PASSWORD_PRODUCTION }}
          DESTINATION: oci://registry.replicated.com/embedded-cluster-charts
        run: |
          chmod 755 ./output/artifacts/buildtools
          ./output/artifacts/buildtools update addon ${{ matrix.addon }} 2>&1 | tee /tmp/log
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.AUTOMATED_PR_GH_PAT }}
          commit-message: updated ${{ matrix.addon }} version
          title: Update ${{ matrix.addon }} version
          branch: automation/update-makefile-${{ matrix.addon }}
          delete-branch: true
          labels: |
            automated-pr
            type::chore
          draft: false
          base: "main"
          body-path: /tmp/log
