name: Update Addons
# XXX change me
on:
  - pull_request
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Compile buildtools
        run: |
          make buildtools
      - name: Upload buildtools artifact
        uses: actions/upload-artifact@v3
        with:
          name: buildtools
          path: output/bin/buildtools
  update-dependencies:
    runs-on: ubuntu-latest
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        addon:
          - openebs
          - registry
          - seaweedfs
          - velero
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Download buildtools artifact
        uses: actions/download-artifact@v3
        with:
          name: buildtools
          path: /usr/local/bin/buildtools
      - name: Update ${{ matrix.addon }}
        id: update
        env:
          DESTINATION: oci://ttl.sh/embedded-cluster-charts
        run: |
          /usr/local/bin/buildtools update --force addon ${{ matrix.addon }}
