name: Pull request
on:
- pull_request

jobs:
  integration:
    name: Integration tests
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Install LXD
      run: |
        sudo snap install lxd
        sudo lxd init --minimal
        sudo chmod 666 /var/snap/lxd/common/lxd/unix.socket

    - name: Install and configure OVN
      run: |
        sudo apt install ovn-host ovn-central -y
        sudo ovs-vsctl set open_vswitch . \
          external_ids:ovn-remote=unix:/var/run/ovn/ovnsb_db.sock \
          external_ids:ovn-encap-type=geneve \
          external_ids:ovn-encap-ip=127.0.0.1

    - name: Pull images
      run: |
        sudo lxc image copy ubuntu:862f797cfcbc local: --alias ubuntu-22.04

    - name: Create SSH Key
      run: |
        ssh-keygen -t dsa -N "" -C "Integration test key" -f /tmp/id_rsa

    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: "1.21.0"

    - name: Install helmvm locally
      run: |
        make helmvm-linux-amd64
        sudo mv output/bin/helmvm /usr/local/bin

    - name: Run Tests
      run: |
        go test -v ./integration

  tests:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: "1.21.0"

    - name: Go vet
      run: |
       make vet

    - name: Tests
      run: |
        make tests

  build:
    name: Build
    runs-on: ubuntu-latest
    needs:
    - tests
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: "1.21.0"

    - name: Build Linux AMD64
      run: |
        make helmvm-linux-amd64

    - name: Build Darwin AMD64
      run: |
        make helmvm-darwin-amd64

    - name: Build Darwin ARM64
      run: |
        make helmvm-darwin-arm64

    - name: Build HelmVM Builder Server Image
      uses: docker/build-push-action@v4
      with:
        push: false
