name: Pull request
on:
- pull_request
jobs:
  sanitize:
    name: Sanitize
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: "1.21.0"
    - name: Go vet
      run: |
        make vet
    - name: Lint
      uses: golangci/golangci-lint-action@v3
      with:
        version: v1.54
  tests:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: "1.21.0"
    - name: Go vet
      run: |
       make vet
    - name: Unit tests
      run: |
        make unit-tests
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Get short commit hash
      run: echo "SHORT_SHA=$(git rev-parse --short=7 HEAD)" >> $GITHUB_ENV
    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: "1.21.0"
    - name: Build Linux AMD64
      run: |
        make helmvm-linux-amd64 VERSION=dev-$SHORT_SHA
    - name: Build Darwin AMD64
      run: |
        make helmvm-darwin-amd64
    - name: Build Darwin ARM64 VERSION=dev-$SHORT_SHA
      run: |
        make helmvm-darwin-arm64 VERSION=dev-$SHORT_SHA
    - name: Build HelmVM Builder Server Image
      uses: docker/build-push-action@v5
      with:
        push: false
