name: Pull request
on:
- pull_request
jobs:
  sanitize:
    name: Sanitize
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: "1.21.0"
    - name: Go vet
      run: |
        make vet
    - name: Lint
      uses: golangci/golangci-lint-action@v3
      with:
        version: v1.54
  tests:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: "1.21.0"
    - name: Go vet
      run: |
       make vet
    - name: Unit tests
      run: |
        make unit-tests
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Check system storage
      run: |
        sudo df -h
    - name: Remove unnecessary files
      run: |
        sudo rm -rf /usr/share/dotnet
        sudo rm -rf "$AGENT_TOOLSDIRECTORY"
        sudo rm -rf /usr/local/lib/android
        sudo rm -rf /opt/ghc
        sudo rm -rf /usr/local/lib/android
        sudo rm -rf /opt/hostedtoolcache/CodeQL
        sudo rm -rf /opt/hostedtoolcache/Python
    - name: Check system storage
      run: |
        sudo df -h
    - name: Checkout
      uses: actions/checkout@v4
    - name: Get short commit hash
      run: echo "SHORT_SHA=$(git rev-parse --short=7 HEAD)" >> $GITHUB_ENV
    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: "1.21.0"
    - name: Check system storage
      run: |
        sudo df -h
    - name: Build Linux AMD64
      run: |
        make helmvm-linux-amd64 VERSION=dev-$SHORT_SHA
    - name: Check system storage
      run: |
        sudo df -h
    - name: Build Darwin AMD64
      run: |
        make helmvm-darwin-amd64
    - name: Check system storage
      run: |
        sudo df -h
    - name: Build Darwin ARM64 VERSION=dev-$SHORT_SHA
      run: |
        make helmvm-darwin-arm64 VERSION=dev-$SHORT_SHA
