name: Release
on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  releaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.21"
      - name: Build linux-amd64
        run: |
          make embedded-cluster-linux-amd64
          tar -C output/bin -czvf embedded-cluster-linux-amd64.tgz embedded-cluster
          make clean
      - name: Build darwin-amd64
        run: |
          make embedded-cluster-darwin-amd64
          tar -C output/bin -czvf embedded-cluster-darwin-amd64.tgz embedded-cluster
          make clean
      - name: Build darwin-arm64
        run: |
          make embedded-cluster-darwin-arm64
          tar -C output/bin -czvf embedded-cluster-darwin-arm64.tgz embedded-cluster
          make clean
      - name: Publish development release
        uses: marvinpinto/action-automatic-releases@latest
        with:
          automatic_release_tag: development
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: true
          title: Development Release Build
          files: |
            *.tgz
