name: Release
on:
  push:
    tags:
      - "v*.*.*"
permissions:
  contents: write
jobs:
  releaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Extract tag name
        run: echo "TAG_NAME=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.21"
      - name: Build linux-amd64
        run: |
          make embedded-cluster-linux-amd64 VERSION=$TAG_NAME
          tar -C output/bin -czvf embedded-cluster-linux-amd64.tgz embedded-cluster
          ./output/bin/embedded-cluster version metadata > metadata.json
      - name: Cache files
        run: |
          export AWS_REGION=us-east-1
          export AWS_ACCESS_KEY_ID=TODO
          export AWS_SECRET_ACCESS_KEY=TODO
          export S3_BUCKET=tf-embedded-cluster-binaries
          export EC_VERSION=$TAG_NAME
          ./scripts/cache-files.sh
      - name: Publish release
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: false
          files: |
            *.tgz
            metadata.json
