name: Release
on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  releaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.20"
      - name: Build linux-amd64
        run: |
          make helmvm-linux-amd64
          tar -C output/bin -czvf helmvm-linux-amd64.tgz helmvm
          make clean
      - name: Build darwin-amd64
        run: |
          make helmvm-darwin-amd64
          tar -C output/bin -czvf helmvm-darwin-amd64.tgz helmvm
          make clean
      - name: Build darwin-arm64
        run: |
          make helmvm-darwin-arm64
          tar -C output/bin -czvf helmvm-darwin-arm64.tgz helmvm
          make clean
      - name: Publish development release
        uses: marvinpinto/action-automatic-releases@latest
        with:
          automatic_release_tag: development
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: true
          title: Development Release Build
          files: |
            *.tgz
      - name: Build HelmVM Builder Server image
        uses: docker/build-push-action@v5
        with:
          tags: replicatedhq/helmvm-builder:latest
