name: Update Addons
on:
  schedule:
    # everyday at 1 o'clock.
    - cron: '0 1 * * *'
  workflow_dispatch:
    inputs:
      openebs_chart_version:
        description: 'OpenEBS chart version for updating the chart and images'
        required: false
      velero_chart_version:
        description: 'Velero chart version for updating the chart and images'
        required: false
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Compile buildtools
        run: |
          make buildtools
      - name: Upload buildtools artifact
        uses: actions/upload-artifact@v4
        with:
          name: buildtools
          path: output/bin/buildtools
  update-dependencies:
    runs-on: ubuntu-latest
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        addon:
          - openebs
          - registry
          - seaweedfs
          - velero
          - embeddedclusteroperator
          - adminconsole
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Download buildtools artifact
        uses: actions/download-artifact@v4
        with:
          name: buildtools
          path: output/bin
      - name: Update ${{ matrix.addon }}
        id: update
        env:
          CHARTS_REGISTRY_SERVER: registry.replicated.com
          CHARTS_REGISTRY_USER: ${{ secrets.REGISTRY_USERNAME_PRODUCTION }}
          CHARTS_REGISTRY_PASS: ${{ secrets.REGISTRY_PASSWORD_PRODUCTION }}
          IMAGES_REGISTRY_SERVER: index.docker.io
          IMAGES_REGISTRY_USER: ${{ secrets.DOCKERHUB_USER }}
          IMAGES_REGISTRY_PASS: ${{ secrets.DOCKERHUB_PASSWORD }}
          CHARTS_DESTINATION: registry.replicated.com/ec-charts
          INPUT_OPENEBS_CHART_VERSION: ${{ github.event.inputs.openebs_chart_version }}
          INPUT_VELERO_CHART_VERSION: ${{ github.event.inputs.velero_chart_version }}
        run: |
          chmod 755 ./output/bin/buildtools
          ./output/bin/buildtools update addon ${{ matrix.addon }}
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.AUTOMATED_PR_GH_PAT }}
          commit-message: updated ${{ matrix.addon }} version
          title: "feat: update ${{ matrix.addon }} version"
          branch: automation/update-makefile-${{ matrix.addon }}
          delete-branch: true
          labels: |
            automated-pr
            type::chore
          draft: false
          base: "main"
          body: |
            Automated changes by the [update-addons](https://github.com/replicatedhq/embedded-cluster/blob/main/.github/workflows/update-addons.yaml) GitHub action
